.background-color {
	background-image: url(#{resource['img/fundo.jpg']});
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ui-grid{
	background: none !important;
}

.content {
	position: relative;
    z-index: 1;
}

.ui-rating-star a, .ui-rating-cancel a {
    background-image: url(#{resource['img/star.png']}) no-repeat scroll 0 0 transparent;
   	float: left;
    display: block;
    overflow: hidden;
    text-indent: -999em;
    cursor: pointer;
    background-size: 40px;
    height: 50px;
    width: 70px;
}

.star {
 	background-image: url(#{resource['img/star.png']});
}

.center-div{
	text-align: center;
}

.titulo{
	font-size: 35px;
	margin-bottom: 5px;
	font-weight: bold;
	
}

.rating {
	background-color: black;
	margin-left: 50%;
	text-align: center;
	size: 100px;
}

.panelgrid {
	border-bottom-width: 3px;
	background: none;
}

.panel-button {
	margin: 10px;
	text-align: center;
}

.confirm-button{
	margin: 10px;
}

.cancel-button{
	margin: 10px;
}

.panel-filter{
	margin: 5px;
}

.recommend-button {
	width: 100%;
	background-color: #33CCFF;
	float: right;
}

.center {
	margin-top: 20%;
	width: 50%;
}

.nome-panel{
	    border-color: darkcyan;
    border-width: initial;
    margin-left: 32%;
    padding: .2em;
    background: none !important;
    width: 40%;
}

.input-nome{
	width: 100%;
}

.enter-button{
	width: 250px;
}

.type-filter{
	margin-left: 10px;
	margin-top: 10px;
}